{% extends 'usuario/base.html'%}

{% block body2 %}
    <h1>Bienvenido {{text.Nombres}} {{text.Apellidos}}</h1>
    <h3> MackTechSolutions te Saluda</h3>
    <ul>
        <li>Nombre de Usuario: {{text.Usuario}}</li><br>
        <li>A continuación te presento tus datos</li><br>
        <li>CUI: {{text.CUI}}</li><br>
        <li>Carrera: {{text.Carrera}}</li><br>
        <li>Correo: {{text.Correo}}</li>
    <h3> A continuación te muestro tus textos</h3>
    {%for obj in p%}
    <li> <a href="url">{{obj.Name}}</a></li>
    {% endfor %}
    </ul>
    {% if error_massage %} 
        <p><strong>{{error_massage}}</strong></p>
    {% endif %}
{% endblock %}
